<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <!--[if IE]>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <![endif]-->
    <title>E-mail Webservice</title>
    <!--  Bootstrap Style -->
<link href="assets/css/bootstrap.css" rel="stylesheet" />
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/bootstrap.css') }}"  />
    <!--  Font-Awesome Style -->
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/font-awesome.min.css') }}" />
    <!--  Animation Style -->
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/animate.css') }}"  />
    <!--  Pretty Photo Style -->
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/prettyPhoto.css') }}" />
    <!--  Google Font Style -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />
    <!--  Custom Style -->
    <!--<link href="static/stylesheets/style.css" rel="stylesheet" />-->
    <!---- Chosen CSS --->
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/style.css' ) }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/chosen.css' ) }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/prism.css') }}" />
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->

</head>
<body>

    <!--/. PRELOADER END -->
    <div class="navbar navbar-default navbar-fixed-top move-me ">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

            </div>
            <div class="navbar-collapse collapse move-me">
                <ul class="nav navbar-nav navbar-right">

                    <li >
                        <a href="#home">HOME

                        </a>

                    </li>



                </ul>
            </div>

        </div>
    </div>


<style type="text/css">
.scrollbar
{

        overflow-y: scroll;
        margin-bottom: 25px;
}
.force-overflow
{

}
#wrapper
{
        text-align: center;
        width: 500px;
        margin: auto;
}
/*
 *  STYLE 1
 */
#style-1::-webkit-scrollbar-track
{
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
        border-radius: 10px;
        background-color: #555;
}
#style-1::-webkit-scrollbar
{
        width: 12px;
        background-color: #F5F5F5;
}
#style-1::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #555;
}
</style>



<style type="text/css">
.absolute {
    margin-right:50px;
}
</style>

<style>
  .hide { position:absolute; top:-1px; left:-1px; width:1px; height:1px; }
</style>

<iframe name="hiddenFrame" class="hide"></iframe>


    <!--./ NAV BAR END -->

    <div id="home" >

        <div class="overlay" >
            <div class="container">







                <div class="row ">



                    <div class="col-lg-3 col-md-3">
                        <div class="div-trans text-center scrollbar" id="style-1">
                            <h3>New E-mail </h3>

                            <div class="col-lg-12 col-md-12 col-sm-12 force-overflow" >

                                <form method="post" action="" >


                                <div class="form-group">
                                   <input type="text" class="form-control" required="required" placeholder="Enter the to e-mail address" name="to_address">
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control" required="required" placeholder="Enter the Subject line" name="subject" required>
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control" required="required" placeholder="Enter the message body" name="body" required>
                                </div>


                             </div>

                        </div>
                    </div>


<div id="formsubmitbutton">
<center>
<form class="form-group "  align="right" float="right" >

                                     <button id="send" value="Click!" type="send" value="send" onclick="ButtonClicked()" class="btn btn-success btn-block btn-lg absolute"  style="position:absolute; top: 96px;left: 82%; " >SEND</button><center>
</form>
</div>
<div id="buttonreplacement" style="margin-left:30px; display:none;">
<center><img src="http://www.video-force.com/wp-content/uploads/2015/10/loading.gif" height="52" width="52" alt="loading.." style="position:absolute; top: 68px;left: 48%; " ><p style ="position:absolute; top: 115px;left: 36%; "><b>Please wait while we sending your mail...</b></p> </center>

</div>
</div>




                </div>


            </div>

        </div>
</div>
<div id="pre-div">
        <div id="loader">

        </div>
 </div>




<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script type="text/javascript">
$(document).ready(function(){
        $('button[type="submit"]').attr('disabled','disabled');
        $('input[type="text"]').keyup(function(){
            if($('input[type="text"]').val() == ""){
                $('button[type="submit"]').attr('disabled','disabled');
            }
            else{
                $('button[type="submit"]').removeAttr('disabled');
            }
        })
});
function ButtonClicked()
{

   document.getElementById("formsubmitbutton").style.display = "none"; // to undisplay

   document.getElementById("buttonreplacement").style.display = ""; // to display
   return true;
}
var FirstLoading = true;
function RestoreSubmitButton()
{
   if( FirstLoading )
   {
      FirstLoading = false;
      return;
   }
   document.getElementById("formsubmitbutton").style.display = ""; // to display

   document.getElementById("buttonreplacement").style.display = "none"; // to undisplay
}
// To disable restoring submit button, disable or delete next line.
document.onfocus = RestoreSubmitButton;
</script>

<script type="text/javascript">
    $(function () {
        $("input[name='check_list']").click(function () {
            if ($("#chkYes").is(":checked")) {
                $("#dvPassport").show();
            }
            else {
                $("#dvPassport").hide();
            }
        });
    });
 $(function () {
        $("input[name='check_list']").click(function () {
            if ($("#chkA").is(":checked")) {
                $("#dvA").show();
            } else {
                $("#dvA").hide();
            }
        });
    });
 $(function () {
        $("input[name='check_list']").click(function () {
            if ($("#chkB").is(":checked")) {
                $("#dvB").show();
            } else {
                $("#dvB").hide();
            }
        });
    });
$(function () {
        $("input[name='check_list']").click(function () {
            if ($("#rdsB").is(":checked")) {
                $("#rdsdv").show();
            }
else {
                $("#rdsdv").hide();
            }
          if ($("#rdsB").is(":checked")) {
                $("#rdsdvA").show();
            } else {
                $("#rdsdvA").hide();
            }
        });
    });
$(function () {
        $("input[name='check_list']").click(function () {
            if ($("#elbB").is(":checked")) {
                $("#elbdv").show();
            }
else {
                $("#elbdv").hide();
            }
            if ($("#elbB").is(":checked")) {
                $("#elbdvA").show();
            } else {
                $("#elbdvA").hide();
            }
        });
    });
$(function () {
        $("input[name='check_list']").click(function () {
            if ($("#apachB").is(":checked")) {
                $("#apachdv").show();
            }
        else {
                $("#apachdv").hide();
            }
            if ($("#apachB").is(":checked")) {
                $("#apachdvA").show();
            } else {
                $("#apachdvA").hide();
            }
if ($("#apachB").is(":checked")) {
                $("#apachdvB").show();
            } else {
                $("#apachdvB").hide();
            }
        });
    });
$(function () {
        $("input[name='check_list']").click(function () {
            if ($("#javaB").is(":checked")) {
                $("#javadv").show();
            }
        else {
                $("#javadv").hide();
            }
            if ($("#javaB").is(":checked")) {
                $("#javadvA").show();
            } else {
                $("#javadvA").hide();
            }
        });
    });
$(function () {
        $("input[name='check_list']").click(function () {
            if ($("#mqB").is(":checked")) {
                $("#mqdv").show();
            }
        else {
                $("#mqdv").hide();
            }
            if ($("#mqB").is(":checked")) {
                $("#mqdvA").show();
            } else {
                $("#mqdvA").hide();
            }
if ($("#mqB").is(":checked")) {
                $("#mqdvB").show();
            } else {
                $("#mqdvB").hide();
            }
if ($("#mqB").is(":checked")) {
                $("#mqdvC").show();
            } else {
                $("#mqdvC").hide();
            }
        });
    });
$(function () {
        $("input[name='check_list']").click(function () {
            if ($("#ngB").is(":checked")) {
                $("#ngdv").show();
            }
        else {
                $("#ngdv").hide();
            }
        });
    });
$(function () {
        $("input[name='check_list']").click(function () {
            if ($("#mysqB").is(":checked")) {
                $("#mysqdv").show();
            }
        else {
                $("#mysqdv").hide();
            }
            if ($("#mysqB").is(":checked")) {
                $("#mysqdvA").show();
            } else {
                $("#mysqdvA").hide();
            }
if ($("#mysqB").is(":checked")) {
                $("#mysqdvB").show();
            } else {
                $("#mysqdvB").hide();
            }
        });
    });
$(function () {
        $("input[name='check_list']").click(function () {
            if ($("#psB").is(":checked")) {
                $("#psdv").show();
            }
        else {
                $("#psdv").hide();
            }
 if ($("#psB").is(":checked")) {
                $("#psdvA").show();
            }
        else {
                $("#psdvA").hide();
            }
        });
    });
$(function () {
        $("input[name='check_list']").click(function () {
            if ($("#monB").is(":checked")) {
                $("#mondv").show();
            }
        else {
                $("#mondv").hide();
            }
            if ($("#monB").is(":checked")) {
                $("#mondvA").show();
            } else {
                $("#mondvA").hide();
            }
if ($("#monB").is(":checked")) {
                $("#mondvB").show();
            } else {
                $("#mondvB").hide();
            }
        });
    });
</script>
    <!--./ HOME SECTION END -->



    <!--./ HELP SECTION END -->





    <!--./ FOOTER SECTION END -->
    <!--  Jquery Core Script -->
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-1.10.2.js') }}"></script>
    <!--  Core Bootstrap Script -->
    <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.js') }}"></script>
     <!--  WOW Script -->
    <script type="text/javascript" src="{{ url_for('static', filename='js/wow.min.js') }}"></script>
    <!--  Scrolling Script -->
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.easing.min.js') }}"></script>
    <!--  PrettyPhoto Script -->
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.prettyPhoto.js') }}"></script>
    <!--  Custom Scripts -->
    <script type="text/javascript" src="{{ url_for('static', filename='js/custom.js') }}"></script>

  <script type="text/javascript" src="{{ url_for('static', filename='js/chosen.jquery.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/prism.js') }}"></script>
  <script type="text/javascript">
    var config = {
      '.chosen-select'           : {},
      '.chosen-select-deselect'  : {allow_single_deselect:true},
      '.chosen-select-no-single' : {disable_search_threshold:10},
      '.chosen-select-no-results': {no_results_text:'Oops, nothing found!'},
      '.chosen-select-width'     : {width:"95%"}
    }
    for (var selector in config) {
      $(selector).chosen(config[selector]);
    }
  </script>


</body>
</html>
